doc/qMethodExample
[{"id":"e089622.6a906a","type":"tab","label":"Simple Queue - face","disabled":false,"info":""},{"id":"cdb38d47.cd149","type":"debug","z":"e089622.6a906a","name":"","active":true,"console":"false","complete":"true","x":730,"y":540,"wires":[]},{"id":"6c1851d1.8b28f","type":"simple-queue","z":"e089622.6a906a","name":"","firstMessageBypass":true,"bypassInterval":"1000","x":310,"y":540,"wires":[["7e6e06ca.8c7c28"]]},{"id":"c6388caa.2aa588","type":"change","z":"e089622.6a906a","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":620,"wires":[["6c1851d1.8b28f"]]},{"id":"628d6edc.244878","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (1).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":120,"wires":[["6c1851d1.8b28f"]]},{"id":"7a9811ef.8bc1b","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (2).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":160,"wires":[["6c1851d1.8b28f"]]},{"id":"a0c8162d.2fa818","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (3).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":200,"wires":[["6c1851d1.8b28f"]]},{"id":"58a97e2e.a31b18","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (4).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":240,"wires":[["6c1851d1.8b28f"]]},{"id":"99a528e1.e0b37","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (5).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":280,"wires":[["6c1851d1.8b28f"]]},{"id":"261644aa.796f14","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (1).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":320,"wires":[["6c1851d1.8b28f"]]},{"id":"38782492.a3f5bc","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (2).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":360,"wires":[["6c1851d1.8b28f"]]},{"id":"a84cd789.3a87b8","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (3).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":400,"wires":[["6c1851d1.8b28f"]]},{"id":"c3f902fd.1d2ed","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (4).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":440,"wires":[["6c1851d1.8b28f"]]},{"id":"d2cff0cb.ad5298","type":"file in","z":"e089622.6a906a","name":"","filename":".node-red/node_modules/node-red-contrib-facial-recognition/example/unknown_face/sample (5).jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":480,"wires":[["6c1851d1.8b28f"]]},{"id":"3af144b4.395ed4","type":"inject","z":"e089622.6a906a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":80,"wires":[["628d6edc.244878","7a9811ef.8bc1b","a0c8162d.2fa818","58a97e2e.a31b18","99a528e1.e0b37","261644aa.796f14","38782492.a3f5bc","a84cd789.3a87b8","c3f902fd.1d2ed","d2cff0cb.ad5298"]]},{"id":"7e6e06ca.8c7c28","type":"facial-recognition","z":"e089622.6a906a","image":"payload","settings":"settings","name":"","bindings":"CPU","FaceDetector":"SsdMobilenetv1","FaceDetector_SsdMobilenetv1_maxResults":3,"FaceDetector_SsdMobilenetv1_minConfidence":"0.6","FaceDetector_tinyFaceDetector_inputSize":"416","FaceDetector_tinyFaceDetector_scoreThreshold":".4","Tasks":"detectAllFaces","FaceLandmarks":true,"FaceExpressions":true,"AgeAndGender":true,"FaceDescriptors":true,"Face_Recognition":"Face_Recognition_disabled","Face_Recognition_enabled_path":"FullPathToLabeledFaces","Face_Recognition_distanceThreshold":0.7,"x":510,"y":540,"wires":[["c6388caa.2aa588","cdb38d47.cd149"]]},{"id":"ca3a86e.c3ce978","type":"comment","z":"e089622.6a906a","name":"Simple Queue Method","info":"","x":200,"y":40,"wires":[]}]
